
/Programmes/YOLOv10/Dataset/FrameExtractor/Record_2022-6-28_13-9-17_csi0.mp4
/Programmes/YOLOv10/Dataset/datasets_RF/GeoDanceHive-BeeDataset-1/
/Programmes/YOLOv10/Dataset/datasets_RF/GeoDanceHive-BeeDataset-2/
/Modèles/YOLOv10/Dataset/Données/Record_2022-6-28_13-9-17_csi0.mp4
/Programmes/YOLOv10/Dataset/ImageUpgrader/ImagesExtraitesRetenues

/Programmes/venv/